.bg-dark{
    background: linear-gradient(65deg,rgb(21, 102, 25),rgb(163, 20, 77));
    text-align: center;    
    border-radius: 5px;
}

@media (max-width: 400px) {
.search {
    width: 90%;          /* Use most of the available width */
    max-width: 300px;    /* But no wider than 300px on large screens */
    height: 30px;
    background-color: aliceblue;
    border-radius: 8px;
}
}

html, body {
    width: 100%;
    overflow-x: hidden;
}
@media (max-width: 768px) {
  .h-100 {
    height: auto !important;
  }
}
